<%= form_for @song do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :released, "Has song been realeased?" %><br>
    <%= f.check_box :released %>
  </p>
  
  <p>
    <%= f.label :release_year, "Year Released:" %><br>
    <%= f.text_field :release_year %>
  </p>
  
  <p>
    <%= f.label :artist_name %><br>
    <%= f.text_field :artist_name %>
  </p>
  
  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>
  
  <%= f.submit %>
  
<% end %>