<!--see Rails Guides Layouts and Rendering 3.4: Using Partials-->

<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <p>Form errors:</p>
      <ul>
        <% @song.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :released %><br>
    <%= f.check_box :released %>
  </p>
  <p>
    <%= f.label :release_year %><br>
    <%= f.number_field :release_year %>
  </p>
  <p>
    <%= f.label :artist_name %><br>
    <%= f.text_field :artist_name %>
  </p>
  <p>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
