
<%= form_for @song do |f| %>

	<% if @song.errors.any? %>
		<div id="error_explanation">
			<h2>There were some errors</h2>
			<ul>
				<% @song.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<% if @song.errors[:title].empty? %>
		<div class="field">
	<% else %>
		<div class="field_with_errors">
	<% end %>
		<%= f.label :title %><br>
		<%= f.text_field :title %><br><br>
	  </div>
	
	<% if @song.errors[:released].empty? %>
		<div class="field">
	<% else %>
		<div class="field_with_errors">
	<% end %>
		<%= f.label :released %><br>
		<%= f.check_box :released %><br><br>
		</div>
	
	<% if @song.errors[:release_year].empty? %>
		<div class="field">
	<% else %>
		<div class="field_with_errors">
	<% end %>
		<%= f.label :release_year %><br>
		<%= f.number_field :release_year %><br><br>
		</div>
	
	<% if @song.errors[:genre].empty? %>
		<div class="field">
	<% else %>
		<div class="field_with_errors">
	<% end %>
		<%= f.label :genre %><br>
		<%= f.text_field :genre %><br><br>
		</div>
	
	<% if @song.errors[:artist_name].empty? %>
		<div class="field">
	<% else %>
		<div class="field_with_errors">
	<% end %>
		<%= f.label :artist_name %><br>
		<%= f.text_field :artist_name %><br><br>
		</div>
	
	<%= f.submit %>
<% end %>