<%= form_for @song do |f| %>
 <% if @song.errors.any? %>
  <div id="error_explanation">
   <h2>We found <%= pluralize(@song.errors.count, "error") %></h2>
   <ul>
    <% @song.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
   </ul>
  </div>
 <% end %>
 
 <div class="field <%= ' field_with_errors' if @song.errors[:title].any? %>">
  <label>Title:</label>
  <%= f.text_field :title %>
 </div>
  
  <div class="field <%= ' field_with_errors' if @song.errors[:released].any? %>">
   <label>Released: </label>
   <%= f.check_box :released %>
  </div>
  
  <div class="field <%= ' field_with_errors' if @song.errors[:release_year].any? %>">
   <label>Release Year:</label>
   <%= f.number_field :release_year %>
  </div>
  
  <div class="field <%= ' field_with_errors' if @song.errors[:artist_name].any? %>">
   <label>Artist Name:</label>
   <%= f.text_field :artist_name %>
  </div>
  
  <div class="field <%= ' field_with_errors' if @song.errors[:genre].any? %>">
   <label>Genre:</label>
   <%= f.text_field :genre %>
  </div>
  
   <%= f.submit %>
<% end %>