<%= form_for(@song) do |song| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= song.label :title %><br>
    <%= song.text_field :title %>
  </div>
  <div class="field">
    <%= song.label :released %><br>
    <%= song.check_box :released %>
  </div>
  <div class="field">
    <%= song.label :release_year %><br>
    <%= song.number_field :release_year %>
  </div>
  <div class="field">
    <%= song.label :genre %><br>
    <%= song.text_field :genre %>
  </div>
  <div class="field">
    <%= song.label :artist_name %><br>
    <%= song.text_field :artist_name %>
  </div>
  <div class="actions">
    <%= song.submit %>
  </div>
<% end %>