<%=form_for(@song) do |f|%>
  <%if @song.errors.any?%>
    <%div id = 'error_explanation'%>
    <h2><%=pluralize(@song.errors.count, 'error')%> prohibited this song from being made.</h2>
    <ul>
      <% @song.errors.full_messages.each do |msg|%>
        <li> <%= msg%> </li>
      <%end%>
    </ul>
  <%end%>
  <label>Title:</label><br>
  <%=f.text_field :title%><br>
  <label>Released?:</label><br>
  <%=f.text_field :released%><br>
  <label>Release Year:</label><br>
  <%=f.text_field :release_year%><br>
  <label>Artist Name:</label><br>
  <%=f.text_field :artist_name%><br>
  <label>Genre:</label><br>
  <%=f.text_field :genre%><br>
  <%=f.submit%>
<%end%>
