<%= form_for @song do|f| %>
<% if @song.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @song.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.label :title, "Title" %>
<%= f.text_field :title, @song.title %>
<%= f.label :artist_name, "Artist Name" %>
<%= f.text_field :artist_name, @song.artist_name %>
<%= f.label :released, "Released" %>
<%= f.text_field :released, @song.released %>
<%= f.label :release_year, "Release Year" %>
<%= f.number_field :release_year, @song.release_year %>
<%= f.label :genre, "Genre" %>
<%= f.text_field :genre, @song.genre %>
<%= f.submit %>
<% end %>
