<%= form_for @song do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :released %></p>
  <p><%= f.check_box :released %></p>

  <p><%= f.label :release_year %></p>
  <p><%= f.number_field :release_year %></p>

  <p><%= f.label :artist_name %></p>
  <p><%= f.text_field :artist_name %></p>

  <p><%= f.label :genre %></p>
  <p><%= f.text_field :genre %></p>
  
  <%= f.submit %>
<% end %>