<h3>Song Form</h3>

<%= form_for(@song) do |f| %>
  <label>Title:</label><br>
  <%= f.text_field :title %><br>
  <label>Release Year:</label><br>
  <%= f.text_field :release_year %><br>
  <label>Released:</label><br>
  <%= f.text_field :released %><br>
  <label>Genre:</label><br>
  <%= f.text_field :genre %><br>
  <label>Artist Name:</label><br>
  <%= f.text_field :artist_name %><br>

  <%= f.submit %>
<% end %>
