<% if @song.errors.any?%>
<div class="errors_explanation">
    <h2>
        <%= pluralize(@song.errors.count, "error")%>
        prevented you from editing this song:
    </h2>

    <ul>
        <% @song.errors.full_messages.each do |message|%>
        <li><%=message%></li>
        <%end%>
    </ul>
</div>
<%end%>

<%= form_for(@song) do |f|%>
<%= f.text_field :title%><br>
<%= f.check_box :released%><br>
<%= f.text_field :release_year%><br>
<%= f.text_field :artist_name%><br>
<%= f.text_field :genre%><br>
<%= f.submit%>
<%end%>