<html>
<head>
  <title></title>
</head>
<body>
  <% if @song.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>
 
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <h1>Edit Form</h1>
  <%= form_for(@song) do |t| %>
  <label>Title:</label><br>
  <%= t.text_field :title %><br>
  <label>Release Year</label><br>
  <%= t.text_field :release_year %><br>
  <label>Released</label><br>
  <%= t.check_box :released %><br>
  <label>Genre</label><br>
  <%= t.text_field :genre %><br>
  <label>Artist Name:</label>
  <%= t.text_field :artist_name %>
  <%= t.submit %>
  <% end %>
</body>
</html>