<h2>Song "<%= @song.title %>"</h2>


<%= form_tag post_path(@song), method: "patch" do %>

  <div class="field">
    <%= label_tag "title", "Title" %>
    <%= text_field_tag "title", @song.title %>
  </div>

 <div class="field">
    <%= label_tag "artist_name", "Artist_name" %>
    <%= text_field_tag "artist_name", @song.artist_name %>
  </div>


  <div class="field">
    <%= label_tag "released", "Released" %>
    <p>Must be either "Released" or "Non-Released".</p>
    <%= text_field_tag "released", @song.released %>
  </div>


  <div class="field">
    <%= label_tag "released_year", "Released_year" %>
    <p>Must be either "Released_year" or "Non-Released_year".</p>
    <%= text_field_tag "released_year", @song.released_year %>
  </div>

  <div class="field">
    <%= label_tag "title", "Title" %>
    <br />
    <%= text_area_tag "title", @song.title %>
  </div>
  <%= submit_tag "Update" %>
<% end %>

