<h2> Edit a Song </h2>
<% if @song.errors.any? %>
<div id="error_explanation">
  <h2> There were some errors: </h2>
  <ul>
    <% @song.errors.full_messages.each do |error_message|%>
    <li><%=error_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @song do |f| %>
<%= f.text_field :title %>
<%= f.text_field :artist_name %>
<%= f.text_field :release_year %>
<%= f.check_box :released %>
<%= f.text_field :genre %>
<%= f.submit "Edit" %>
<% end %>
