<h1>Edit Song</h1>
<%= form_for(@song) do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title, value:@song.title %><br>
  <%= f.label :artist_name, "Artist" %><br>
  <%= f.text_field :artist_name, value:@song.artist_name %><br>
  <%= f.label :genre %><br>
  <%= f.text_field :genre, value:@song.genre %><br>
  <%= f.label :released %><br>
  <%= f.check_box(:released, {}, true, false)%>
  <%= f.label :release_year %><br>
  <%= f.text_field :release_year, value:@song.release_year %><br>

  <%= f.submit "Edit Song" %>
<% end %>
