<h1>Edit Song: <%=@song.title%></h1>

<%=form_for(@song) do |f|%>
<p>Title: <%=f.text_field :title%></p>
<p>Released: <%=f.check_box :released, {checked: true}%></p>
<p>Release Year: <%=f.text_field :release_year%></p>
<p>Artist: <%=f.text_field :artist_name%></p>
<p>Genre: <%=f.text_field :genre%></p>
<%=f.submit%>
<%end%>

<br>
<%=link_to "Delete", destroy_path(@song)%>
