<h1>Edit <%= @song.title %></h1>

<%= form_for @song do |f| %>
  Title: <%= f.text_field :title %><br>
  Artist Name: <%= f.text_field :artist_name %><br>
  Genre: <%= f.text_field :genre %><br>
  Released: <%= f.check_box :released %><br>
  Release Year: <%= f.number_field :release_year %><br>
  <%= f.submit %>
<% end %>
