
<%= form_for(@song) do |f| %>
  #will trigger if any validation did not pass
  <% if @song.errors.any? %>
  <div id="error_explanation">
    <ul>
      #itereate over the error messages
      <% @song.errors.full_messages.each do |m|%>
        <li><%= m %></li>
      <% end %>
    </ul>

  </div>
  <% end %>



  <%= f.text_field :title %><br>
  <%= f.check_box :released %><br>
  <%= f.number_field :release_year %><br>
  <%= f.text_field :genre %><br>
  <%= f.text_field :artist_name %><br>
  <%= f.submit %>
<% end %>
