<h2>Edit Song Form</h2>

<%= form_for @song do |f| %>

  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title" %><br>
    <%= f.text_field :title %><br>
  </div>

  <div class="field">
    <%= f.label "Released?" %><br>
    <%= f.check_box :released %><br>
  </div>

  <div class="field">
    <%= f.label "Release Year" %><br>
    <%= f.number_field :release_year %><br>
  </div>

  <div class="field">
    <%= f.label "Artist Name" %><br>
    <%= f.text_field :artist_name %><br>
  </div>

  <div class="field">
    <%= f.label "Genre" %><br>
    <%= f.text_field :genre %><br>
  </div>

  <%= f.submit "Update Song"%>
<% end %>
