<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@song.errors.count, "error") %>
      prohibited this song from being saved:
    </h2>

    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Artist Name</th>
    <th>Genre</th>
    <th>Release Year</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>


<%= form_for @song do |f| %></td>
  <td><%= f.text_field :title %></td>
  <td><%= f.text_field :artist_name %></td>
  <td><%= f.text_field :genre %></td>
  <td><%= f.check_box :released %></td>
  <td><%= f.text_field :release_year %></td>

  <%= f.submit %>
<% end %>
