<h1>Update <%= @song.title %></h1>
<%= form_for(@song) do |f| %>

    <% if @song.errors.any? %>
    <div id="error_explanation">
        <h2>
        <%= pluralize(@song.errors.count, "error") %>
        prohibited this song from being saved:
        </h2> 
        <ul>
        <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    Title: <%= f.text_field :title %>
    Released: <%= f.check_box :released %>
    Release Year: <%= f.number_field :release_year %>
    Artist Name: <%= f.text_field :artist_name %>
    Genre: <%= f.text_field :genre %>
    <%= f.submit %>
<% end %>
