<% form_tag song_path(@song), method: "patch" do %>
    <div class="field">
    <%= label_tag "title", "Title" %>
    <%= text_field_tag "title, @post.title" %>


    <label> label :title </label><br>
    <%= f.text_field :title %><br>

    <label> f.label :artist_name </label><br>
    <%= f.text_field :artist_name %><br>

    <label> f.label :release_year </label><br>
    <%= f.text_field :release_year %><br>

    <label> f.label :released </label><br>
    <%= f.text_field :released %><br>

    <label> f.label :genre </label><br>
    <%= f.text_field :genre %><br>

    <%= submit_tag "Edit Song" %>
    </div>

<% end %>