<h3>Edit <%= @song.title%>:</h3>

<%= form_for @song do |t| %>
  <% if @song.errors.any? %>
    <p><%= pluralize(@song.errors.count, 'error')%> were found:</p>
    <ul>
      <% @song.errors.full_messages.each do |m|%>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %><br>

  <div class="field">
  Title: <%= t.text_field :title %>
  </div>

  <div class="field">
  <%= t.check_box :released %>
  </div>

  <div class="field">
  Release year: <%= t.number_field :release_year %>
  </div>

  <div class="field">
  Artist: <%= t.text_field :artist_name %>
  </div>

  <div class="field">
  Genre: <%= t.text_field :genre %>
  </div>

  <%= t.submit %>
<% end %>