<h1>All Songs</h1>

<div><%= link_to 'Create Song', new_song_path %></div>
<br />

<table>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%=song.released%></td>
        <td><%= song.release_year %></td>
        <td><%= song.genre %></td>
        <td><%= song.artist_name %></td>
        <td>
          <%= link_to 'View', song %> |
          <%= link_to 'Edit', edit_song_path(song) %> |
          <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Do you want to delete?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>