<h1>Songs</h1>

<div><%= link_to 'Create Song', new_song_path %></div>

<tbody>
    <% @songs.each do |s| %>
        <tr>
            <td><%= s.title %></td>
            <td><%= s.release_year %></td>
            <td><%= s.released %></td>
            <td><%= s.genre %></td>
            <td><%= s.artist_name %></td>
            <td><%= link_to 'View', s%></td>
        </tr>
    <%end%>
</tbody>