<h1>Songs</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Released</th>
        <th>Release Year</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.title %></td>
          <td><%= song.artist_name %></td>
          <td><%= song.released %></td>
          <td><%= song.release_year %></td>
          <td><%= song.genre %></td>
          <td><%= link_to "Edit", edit_song_path(song) %></td>
          <td><%= link_to "Delete", song, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
