<table>
  <thead>
  <tr>
    <th>Song Name:</th>
    <th>Artist:</th>
    <th>Genre:</th>
  </tr>
  </thead>

  <tbody>
      <% @songs.each do |song| %>
      <tr>
      <td><%= song.title %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.genre %></td>
      <td><%= song.release_year %></td>
      <td>
          <%= link_to 'View', song %> |
          <%= link_to 'Edit', edit_song_path(song) %> |
          <%= link_to 'Delete', song, method: :delete, data: { confirm: 'Delete this song?' } %>
        </td>
    </tr>
    <% end %>
  </tbody>

</table>
