<% @songs.each do |s| %>
    <div class="song">
        <span><%= s.title %></span>
        <%= link_to "Delete", s, method: :delete %>
        <%= s.release_year %>
        <%= s.artist_name %>
        <%= s.genre %>
    </div>
<% end %>