<table cellspacing = "15">

  <thead>
    <tr>
      <th>Title</th>
      <th>Released?</th>
      <th>Release Year</th>
      <th>Artist Name</th>
      <th>Genre</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <tr align="center">
      <td><%= song.title %></td>
      <td><%= song.released %></td>
      <td><%= song.release_year %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.genre %></td>
      <td><%= link_to "Edit", edit_song_path(song) %>
      <td><%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %></td>
    </tr>
    <% end %>
  </tbody>

</table>
