<h1>Songs Index</h1>

<table>
  <thead>
    <th>
      <td>Song Title</td>
      <td>Released?</td>
      <td>Release year</td>
      <td>Artist Name</td>
      <td>Genre</td>
      <td>Delete?</td>
    </th>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td> <%=link_to song.title, song_path(song)%></td>
      <td><%=song.released%></td>
      <td><%=song.release_year%></td>
      <td><%=song.artist_name%></td>
      <td><%=song.genre%></td>
      <td><%= link_to 'Delete', song, method: :delete, data: { confirm: 'For real?' } %></td>
    </tr>
    <%end%>
  </tbody>
</table>
