
<h3>Show All Songs</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Released?</th>
      <th>Release Year</th>
      <th>Artist Name</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song_path(song)%></td>
        <td><%= song.released%></td>
        <td><%= song.release_year%></td>
        <td><%= song.artist_name%></td>
        <td><%= song.genre%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- https://github.com/learn-co-curriculum/validations-in-controller-actions-rails/issues/6 -->
