<table>
  
  <thead>

    <tr>

      <th>Title</th>
      <th>Release Year</th>
      <th>Released</th>
      <th>Genre</th>
      <th>Artist Name</th>

    </tr>

  </thead>

  <tbody>
    <% @songs.each do |song| %>

    <tr>
      <td><%= song.title %></td>
      <td><%= song.release_year %></td>
      <td><%= song.released %></td>
      <td><%= song.genre %></td>
      <td><%= song.artist_name %></td>
    </tr>

    <% end %>
  </tbody>

</table>
