
<% @songs.each do |song| %>
<div class="song">
<tbody>
  <tr><span><%= song.title %></span>
  <span><%= song.artist_name %></span>
  <span><%= song.release_year %></span>
  <span><%= song.genre %></span>
  
  <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
</div>
</tbody>
<% end %>