<h1>All Songs:</h1>
<tbody>
    <%= @songs.each do |song| %>
        <tr> 
            <%= song.title %>
            <%= song.artist_name %>
            <%= song.release_year %>
            <%= song.genre %>
        </tr> 
   <% end %>
</tbody>