<h1>Songs</h1>

<%= link_to "New Song", new_song_path %><br><br>

<table id="songs-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Release Year</th>
      <th>Genre</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.release_year %></td>
        <td><%= song.genre %></td>
        <td>
          <%= link_to "View", song_path(song) %> |
          <%= link_to "Edit", edit_song_path(song) %> |
          <%= link_to "Delete", song, method: :delete, data: {
            confirm: "Are you sure you want to delete?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
