
<!-- <ul>
  <%= @songs.each do |song| %>
  <li><%= link_to song.title, song_path(song)%></li>
  <li><%= link_to "Delete", song, method: :delete %></li>
  <% end %>
</ul> -->

<tbody>
  <%= @songs.each do |song| %>
  <tr>
    <%= link_to song.title, song_path(song)%> | <%= link_to "Delete", song, method: :delete %>
  </tr>
  <% end %>
</tbody>
