<h1>Songs</h1>
<% if !@songs.nil? %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Artist Name</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.release_year %></td>
      <td><%= song.genre %></td>
      <td><%= song.artist_name %></td>
      <td>
        <%= link_to 'View', song %> |
        <%= link_to 'Edit', edit_song_path(song) %> |
        <%= link_to 'Delete', song, :method => :destroy, :data => {:confirm => "Are you sure?"} %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<% end %>