<h1>Songs</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Release Year</th>
    <th>Edit</th>
  </thead>
<tbody>
<% @songs.each do |song| %>
  <tr>
  <td><%= song.title %> </td>
  <td><%= song.artist_name %></td>
  <td><%= song.genre %></td>
  <td><%=song.release_year %></td>
  <td><a href="<%=edit_song_path(song)%>">edit</a></td>
</tr>
  <% end %>
</tbody>
</table>

<a href="<%=new_song_path(@song)%>">Create new song</a>
