<h1>Songs</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist Name</th>
      <th>Release Year</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <%= @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.release_year %></td>
      <td><%= song.genre %></td>
      <td><%= link_to 'View', song %></td>
      <%= link_to 'Create Song', new_song_path %>
    </tr>
    <% end %>
  </tbody>
</table>