<h1>Song Index</h1>

<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th>Released</th>
      <th>Release Year</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @songs.each do |song| %>
        <div class="song">
          <td> <%= song.title %> </td>
          <td> <%= song.artist_name %> </td>
          <td> <%= song.released %> </td>
          <td> <%= song.release_year %> </td>
          <td> <%= song.genre %> </td>
           <%= link_to "Delete", song_path(song), method: :delete, data: {confirm: "Are you sure you want to delete this song?"} %> </span></p>
        </div>
      <% end %>
    </tr>
</table>
