<h1>List of Songs</h1>

<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Genre</th>
      <th>Artist</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></th>
        <td><%= song.genre %></th>
        <td><%= song.artist_name%></td>
        <td><%= song.release_year%></td>
        <td><%= link_to 'view song', song_path(song) %><td>
        <td><%= link_to 'edit song', edit_song_path(song)%><td>
          <td><%= link_to 'delete', song, method: :delete%><td> 
      </tr>
    <%end%>
  </tbody>
</table>
