<h1>Songs</h1>

<div><%= link_to 'Create Song', new_song_path %></div>
<br>

<table>
  <thead>
    <tr>
      <th>Title&nbsp&nbsp&nbsp</th>
      <th>Year&nbsp&nbsp&nbsp</th>
      <th>Artist Name&nbsp&nbsp&nbsp</th>
      <th>Genre&nbsp&nbsp&nbsp</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %>&nbsp&nbsp&nbsp</td>
        <td><%= song.release_year %>&nbsp&nbsp&nbsp</td>
        <td><%= song.artist_name %>&nbsp&nbsp&nbsp</td>
        <td><%= song.genre %>&nbsp&nbsp&nbsp</td>
        <td>
          <%= link_to 'View', song %> |
          <%= link_to 'Edit', edit_song_path(song) %> |
          <%= link_to 'Delete', song, method: :delete, data: { confirm: 'For real?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
