<% Song.all.each do |song|%>
<table>
  <%= form_for song do |s|%>
  <tbody>
    <tr>
      <td><%= s.label :title %></td>
      <td><%= s.text_field :title %></td>
      <td><%= s.label :genre %></td>
      <td><%= s.text_field :genre %></td>
      <td><%= s.label :artist_name %></td>
      <td><%= s.text_field :artist_name %></td>
      <td><%= s.label :release_year %></td>
      <td><%= s.text_field :release_year %></td>
      <td><%= s.label :released %></td>
      <td><%= s.check_box :released %></td>
      <td><%= link_to 'Show', song %></td>
      <td><%= button_to 'Destroy', song, method: :delete, data: { confirm: "Are you sure?" }%></td>
    </tr>
    </tbody>
    <%end%>
    </table>
  <%end%>
