<h1>List of Songs</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>Artist Name</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.release_year %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= link_to 'Show', song_path(song) %></td>
        <td><%= link_to 'Edit', song_path(song) %></td>
        <td><%= link_to 'Destroy', song_path(song),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

