<h1>Songs:</h1>
<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist Name</th>
      <th>Genre</th>
      <th>Release Year</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= song.release_year %></td>
        <td>
          <%= link_to 'View', song %> |
          <%= link_to 'Edit', edit_song_path(song) %> |
          <%= link_to 'Delete', song, method: :delete, data: { confirm: "Are You Sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
