<table>
  <tbody>

  <th>
    <td>title </td>
  <td>released </td>
  <td>release_year </td>
  <td>artist_name </td>
  <td>genre </td>
  </th>


<% @songs.each do |song| %>
<tr>
  <td><%= song.title %></td>
  <td><%= song.released %></td>
  <td><%= song.release_year %></td>
  <td><%= song.artist_name %></td>
  <td><%= song.genre %></td>
  <td><%= link_to "Delete", song, method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
  <% end %>
</tbody>
</table>
