<tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.release_year %></td>
        <td><%= song.genre %></td>
        <td><%= song.artist_name %></td>
      <%= link_to 'Delete', song, method: :delete, data: { confirm: 'confirm' } %></tr>
    <% end %>
  </tbody>