<h1>Songs Index</h1>
<table>
  <tbody>
    <%@songs.each do |song|%>
    <tr>
      <%=song.title%>
      <%=song.released%>
      <%=song.release_year%>
      <%=song.artist_name%>
      <%=song.genre%>
    </tr>
      <%end%>
  </tbody>
  </table>
