<table>

  <thead>
    <tr>
      <th>Song Title</th>
      <th>Release Status</th>
      <th>Release Year</th>
      <th>Artist Name</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <th><%= song.title %></th>
        <th><%= song.released %></th>
        <% if song.released %>
          <th><%= song.release_year %></th>
        <% end %>
        <th><%= song.artist_name %></th>
        <th><%= song.genre %></th>
        <th><%= link_to "Delete", song,  method: :delete, data: {confirm: "Are you sure?"}  %></th>
      </tr>
    <% end %>
  </tbody>

</table>
