<h1>Songs</h1>

  <tbody>
    <%@songs.each do |song|%>
    <tr><%= song.title %></tr>
    <tr><%= song.released %></tr>
    <tr><%= song.release_year %></tr>
    <tr><%= song.artist_name %></tr>
    <tr><%= song.genre %></tr>
    <% end  %>
  </tbody>
