<table>
  <thead>
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th>Released?</th>
      <th>Release Year</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.released %></td>
      <td><%= song.release_year %></td>
      <td><%= song.genre %></td>
    </tr>
    <% end %>
  </tbody>
</table>
