<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <td>
        Title
      </td>
      <td>
        Artist
      </td>
      <td>
        Genre
      </td>
      <td>
        Released?
      </td>
      <td>
        Release year
      </td>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= song.title %>
        </td>
        <td>
          <%= song.artist_name %>
        </td>
        <td>
          <%= song.genre %>
        </td>
        <td>
          <%= song.released %>
        </td>
        <td>
          <%= song.release_year %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
