<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Artist name</th>
      <th></th>
    </tr>
  </thead>


<% Song.all.each do |s| %>
<tr>
  <td><%= s.title %></td>
</tr>
<tr>
  <td><%= s.released %></td>
</tr>
<tr>
  <td><%= s.release_year %></td>
</tr>
<tr>  
  <td><%= s.artist_name %></td>
</tr>
<tr>  
  <td><%= s.genre %></td>
</tr>  

<% end %>
</table>