<tbody>
  <% @songs.all.each do |song| %>    
    <tr>
       <td>Title: <%= song.title %></td>
       <td>Release Year: <%= song.release_year %></td>
       <td>Released: <%= song.released %></td>
       <td>Genre: <%= song.genre %></td>
       <td>Artist Name: <%= song.artist_name %></td>
    </tr>
  <% end %>
</tbody>
