<table class="table-striped">
  <thead>
    <th>Title:</th>
    <th>Released:</th>
    <th>Release Year:</th>
    <th>Artist Name:</th>
    <th>Genre:</th>
  </thead>
  <tbody>
    <% @songs.each do |s| %>
      <tr>
        <td><%= s.title %></td>
        <td><%= s.released %></td>
        <td><%= s.release_year %></td>
        <td><%= s.artist_name %></td>
        <td><%= s.genre %></td>
      </tr>
    <% end %>
  </tbody>
</table>
