
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Artist</th>
        <th>Genre</th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.release_year %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>

        <td>
          <%= link_to 'view', song_path(song) %>
          <%= link_to 'edit', edit_song_path(song) %>
          <%= link_to 'delete', song, method: :delete, data: {confirm: 'are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
