<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Released?</th>
      <th>Release Year</th>
      <th>Edit Song</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song_path(song) %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= song.released %></td>
        <td><%= song.release_year %></td>
        <td><%= link_to "Edit", edit_song_path(song) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to "New Song", new_song_path %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
