<h1>Songs</h1>

<%= link_to 'Create Song', new_song_path %>

<tbody>
<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.release_year %></td>
    <td><%= song.genre %></td>
    <td><%= song.artist_name %></td>
    <td>
    <%= link_to "View", song %><br>
    <%= link_to "Edit", edit_song_path(song) %><br>
    <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?"} %>
  </td>
  </tr>
<% end %>
</tbody>
