<h1>Song Listing</h1>


<table>
  <thead>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Released</th>
    <th>Release Year</th>
  </thead>
  <tbody>
    <%@songs.each do |song|%>
      <tr> 
        <td><%= link_to song.title, song_path(song)%> </td>
        <td><%=song.artist_name%></td>
        <td><%=song.genre%></td>
        <td><%=song.released%></td>
        <td><%=song.release_year%></td>
      </tr>
    <%end%>
  </tbody>
</table>

