Index page
<p><%= link_to 'Create Song', new_song_path %></p>
    <table>
        <thead>
            <tr>
                <th>Song Title</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Artist Name</th>
            </tr>
        </thead>
        <tbody>
            <% @songs.each do |song| %>
                <tr>
                    <td><%= song.title %></td>
                    <td><%= song.release_year %></td>
                    <td><%= song.genre %></td>
                    <td><%= song.artist_name %></td>
                    <td>
                        <%= link_to 'View', song %>
                        <%= link_to 'Edit', edit_song_path(song) %>
                        <%= button_to 'Delete', song, method: :delete %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>