<% @songs.each do |song| %>
<h3>Title:<%= song.title %></h3>
<h3>released:<%= song.released %></h3>
<h3>release_year:<%= song.release_year %></h3>
<h3>Artist name:<%= song.artist_name %></h3>
<h3>Genre: <%= song.genre %></h3>
  <%end%>
