<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.release_year %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
      </tr>
    <% end %>
  </tbody>
</table>