<table>
  <thead>
    <tr>Title</tr>
    <tr>Release Year</tr>
    <tr>Released</tr>
    <tr>Genre</tr>
    <tr>Artist Name</tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.release_year %></td>
        <td><%= song.released %></td>
        <td><%= song.genre %></td>
        <td><%= song.artist_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
