<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@song.errors.count, "error") %>
      prohibited this song from being saved:
    </h2>

    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @song do |f| %>
  <label>Song title:</label><br>
  <%= f.text_field :title %><br>
  <label>Artist Name:</label><br>
  <%= f.text_field :artist_name %><br>
  <label>Released? (True or False)</label><br>
  <%= f.text_field :released %><br>
  <label>Release Year:</label><br>
  <%= f.text_field :release_year %><br>
  <label>Genre:</label><br>
  <%= f.text_field :genre %><br>
  <%= f.submit %>
<% end %>
