
<%= form_tag songs_path, method: "post" do %>
<% if @song.errors.any?%>
  <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field<%=' field_with_errors' if @song.errors[:name].any? %>">
    <%= label_tag "song[title]", "Title" %><br>
    <%= text_field_tag "song[title]",@song.title %>
  </div>

  <div class="field<%=' field_with_errors' if @song.errors[:released].any?%>">
    <%= label_tag "song[released]", "Released" %><br>
    <%= check_box_tag "song[released]",@song.released %>
  </div>

  <div class="field<%=' field_with_errors' if @song.errors[:released].any?%>">
    <%= label_tag "song[release_year]", "Release year" %><br>
    <%= text_field_tag "song[release_year]",@song.release_year %>
  </div>

  <div class="field<%=' field_with_errors' if @song.errors[:released].any?%>">
    <%= label_tag "song[artist_name]", "Artist name" %><br>
    <%= text_field_tag "song[artist_name]",@song.artist_name %>
  </div>

  <div class="field<%=' field_with_errors' if @song.errors[:released].any?%>">
    <%= label_tag "song[genre]", "Genre" %><br>
    <%= text_field_tag "song[genre]",@song.genre %>
  </div>


  <%= submit_tag "Create" %>
<% end %>
