<h1>Create a Song</h1>

<%= form_for(@song) do |s| %>
<%= s.text_field :title %>
<%= s.text_field :artist_name %>
<%= s.check_box :released %>
<%= s.number_field :release_year %>
<%= s.text_field :genre %>

<% end %>