<%= form_for @song do |s| %>
    <label>Song Title:</label><br/>
    <%= s.text_field :title %><br/>
    <label>Artist:</label><br/>
    <%= s.text_field :artist_name %><br/>
    <label>Genre:</label><br/>
    <%= s.text_field :genre %><br/>
    <label>Released: </label>
    <%= s.check_box :released %><br/>
    <label>Release Year: </label>
    <%= s.number_field :release_year %><br/>
    <%= s.submit "Submit Song" %>
<% end %>