<%= form_for @song do |f| %>
  <label>Title:</label>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.text_field :released, placeholder: "Released?" %>
  <%= f.text_field :release_year, placeholder: "Release Year" %>
  <%= f.text_field :artist_name, placeholder: "Artist Name" %>
  <%= f.text_field :genre, placeholder: "Genre" %>
  <br>

  <%= f.submit "Create Song" %>

<% end %>
