<h1>New Song</h1>

<%= form_for(@song) do |f|%>
    <%= f.label :title%>
    <%= f.text_field :title%>
        <br><br>
    <%= f.label :released%>
    <%= f.text_field :released %>
        <br><br>
    <%= f.label :release_year%>
    <%= f.number_field :release_year%>
        <br><br>
    <%= f.label :artist_name %>
    <%= f.text_field :artist_name%>
        <br><br>
    <%= f.label :genre %>
    <%= f.text_field :genre%>
        <br><br>
    <%= f.submit "Create Song"%>
<%end%>