<h2>Create a Song</h2>

<%= form_for @song do |f| %>

  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>

      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Title: <%= f.text_field :title %> 
  </div><br>
  
  <div class="field">
    Released: <%= f.check_box :released %>
  </div><br>
  
  <div class="field">
    Release Year: <%= f.text_field :release_year %>
  </div><br>
  
  <div class="field">
    Artist Name: <%= f.text_field :artist_name %>
  </div><br>

  <div class="field">
    Genre: <%= f.text_field :genre %> 
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div><br>
<% end %>

<br>

<%= link_to "Back To Index", songs_path %> 
