<h1>New Song %>

<%= form_for(@song) do |f| %>
    <label>Title:</label>
    <%= f.text_field :title %><br>

    <label>Released:</label><br>
    <%= f.check_box :released %>

    <label>Release Year:</label><br>
    <%= f.number_field :release_year %>

    <label>Artist Name:</label><br>
    <%= f.text_field :artist_name %>

    <label>Genre:</label><br>
    <%= f.text_field :genre %>

    <%= f.submit %>
<% end %>