<h1>Song Form</h1>

<%= form_for @song do |s| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@song.errors.count, "error") %>
        prohibited this song from being saved:
      </h2>
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= s.label :title %>
  <%= s.text_field :title %><br>

  <%= s.label :released %>
  <%= s.check_box :released %><br>

  <%= s.label :release_year %>
  <%= s.text_field :release_year %><br>

  <%= s.label :artist_name %>
  <%= s.text_field :artist_name %><br>

  <%= s.label :genre %>
  <%= s.text_field :genre %><br>

  <%= s.submit%>
<% end %>
