<h1>Create Song</h1>
<%= form_for @song do |s| %>
  
  <% if @song.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@song.errors.count, "error") %>
      prohibited this song from being saved:
    </h2>
 
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= s.text_field :title %><br>
  <%= s.text_field :released %><br>
  <%= s.text_field :release_year %><br>
  <%= s.text_field :artist_name %><br>
  <%= s.text_field :genre %><br><br>
  <%= s.submit %>
<% end %>