<h2>Create a Song</h2>
<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@song.errors.count, "error") %>
      prohibited this song from being saved:
    </h2>
 
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @song do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :artist_name %>
   <%= f.text_field :genre %>
  <%= f.check_box :released %>
   <%= f.number_field :release_year %>
  <%= f.submit %>
<% end %>
