<%= form_for(@song) do |form| %>

    <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :song_title %>
  </div>

  <div class="field">
    <%= form.label :released %>
    <%= form.check_box :released, id: :song_released %>
  </div>

  <div class="field">
    <%= form.label :release_year %>
    <%= form.number_field :release_year, id: :song_release_year %>
  </div>

  <div class="field">
    <%= form.label :artist_name %>
    <%= form.text_field :artist_name, id: :song_artist_name %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :song_genre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>