<h2>Title:<%= @song.title %></h2>
<h2>Artist name:<%= @song.artist_name %></h2>
<h2>Released:<%= @song.released %></h2>
<h2>Release year:<%= @song.released_year %></h2>
<h2>Genre:<%= @song.genre %></h2>

<%= link_to "edit", edit_song_path(@song) %>
<%= link_to 'Back', songs_path %>


<hr />
