<h1><%= @song.title %></h1>

<label>Title:</label> <%= @song.title %><br>
<label>Released?</label> <%= @song.released %><br>
<label>Release Year:</label> <%= @song.release_year %><br>
<label>Artist Name:</label> <%= @song.artist_name %><br>
<label>Genre:</label> <%= @song.genre %><br>