
<h4>title: <%=@song.title%></h4>
<ul>
<li>release_year: <%=@song.release_year%></li>
<li>released: <%=@song.released%></li>
<li>released: <%=@song.genre%></li>
<li>artist_name: <%=@song.artist_name%></li>
</ul>
