<h1><%=@song.title%></h1>

Artist: <%= @song.artist_name %>
<br>
Genre: <%= @song.genre %>
<br>
<% if @song.released %>
  Release Year:<%= @song.release_year %>
<% end %>
<br>
 <%= link_to 'Edit', edit_song_path(@song) %>|
