<ul>
	<li>Song ID: <%= @song.id %></li>
	<li>Title: <%= @song.id %></li>
	<li>Released: <%= @song.released %></li>
	<li>Released year: <%= @song.release_year %></li>
	<li>Artist name: <%= @song.artist_name %></li>
	<li>Genre: <%= @song.genre %></li>
</ul>