<h1><%= @song.title %></h1>
<ul>
  <li>Released: <%= @song.released %></li>
  <li>Release Year: <%= @song.release_year %></li>
  <li>Artist: <%= @song.artist_name %></li>
  <li>Genre: <%= @song.genre %></li>
</ul>

<%= link_to 'Edit', edit_song_path(@song) %>
