<h1><%= @song.title %></h1>
<tbody>
  <tr>Title: <%= song.title %>
      Artist: <%= song.artist_name %>
      Genre: <%= song.genre %>
      Released: <%= song.released %>
      Release Date: <%= song.release_year %></tr>
</tbody>
