<h1><%= @song.name %></h1>
<h2><%= @song.artist_name %></h2>
<p><%= @song.released %><br>
  <%= @song.release_year %><br>
  <%= @song.genre %></p>

<p><%= link_to "Delete Song", @song, method: :delete, data: { confirm: "Are you sure you want to delete this song?" } %></p>
