<h3>Title: <%= @song.title %></h3>
    <ul>
        <li>Artist: <%= @song.artist_name %></li>
        <li>Genre: <%= @song.genre %></li>
        <li>Released? <%= @song.released %></li>
        <li>Release year:<%= @song.release_year %></li>
    </ul>