<h1><%= @song.title %></h1>
<p>Released: <%= @song.released ? "Yes" : "Not yet" %></p>
<p>Artist: <%= @song.artist_name %></p>
<p>Release Year: <%= @song.released ? @song.release_year : "Unreleased" %></p>
<p>Genre: <%= @song.genre ? @song.genre : "Unknown" %></p>
<%= link_to "Delete", @song, method: :delete, data: { confirm: "Really?" } %>