<h1>Song Details</h1>

<p>Title: <%= @song.title%></p>
<p>Release Year: <%= @song.release_year%></p>
<p>Released Status: <%= @song.released%></p>
<p>Genre: <%= @song.genre%></p>
<p>Artist Name: <%= @song.artist_name%></p>