<h1><%= @song.title %></h1>
<p>
  <%= @song.release_year if !!@song.released %><br>
  <%= @song.artist_name %><br>
  <%= @song.genre %><br>
  <%= link_to "Delete", @song, method: :delete, data: { confirm: "Really?" } %>
</p>
