<h3>Show Song</h3>

<p>Song Title : <%= @song.title %></p>
<p>Song Released? : <%= @song.released %></p>
<p>Song Release Year : <%= @song.release_year %></p>
<p>Song Artist Name : <%= @song.artist_name %></p>
<p>Song Genre : <%= @song.genre %></p>
