<h2><%= @song.title %></h2>
<%= link_to "Edit", edit_song_path(@song) %>

<p>Artist: <%= @song.artist_name %></p>
<p>Released: <%= @song.release_year %></p>
<p>Genre: <%= @song.genre %></p>

<br>

<%= link_to "Back to Index", songs_path %>

