<h1><%= @song.title %></h1>
by <i><%= @song.artist_name %></i>

<% if @song.released? %>
  <h2>Released: <%= @song.release_year %></h2>
<% end %>

<h2>Genre: <%= @song.genre %></h2>

<%= link_to 'Edit', edit_song_path(@song) %>
<%= link_to 'Delete', @song, method: :delete, data: { confirm: "Really?" } %>
