<h3><%= @song.title %></h3>
<ul>
  <li><%= @song.released %></li>
  <li><%= @song.release_year %></li>
  <li><%= @song.artist_name %></li>
  <li><%= @song.genre %></li>
</ul>
<%= form_tag song_path(@song), method: "delete" %>
    <%= submit_tag "Delete #{@song.title}" %>