<h1><%= @song.title %></h1>
<h3>Release year: </h3><%= @song.release_year %><br  />
<h3>Artist Name: </h3><%= @song.artist_name %><br  />
<h3>Genre :</h3><%= @song.genre %><br  />
<h3>Released: </h3><%= @song.released %><br  />
<h4><%= link_to "Edit", edit_song_path(@song) %></h4><br  />
<%= button_to "Delete", @song, method: :delete, data: { confirm: "Really?" } %>
