<h1><%= @song.title %></h1>
<h4><%= @song.artist_name %> | <%= @song.genre %> | Released in <%= @song.release_year %></h4>
<%= link_to 'Songs List', songs_path %> | <%= link_to 'Edit', edit_song_path %> 
