<h2> <label>Title: </label><%=@song.title%> <br>
<label>Release Year: </label> <%=@song.release_year%> <br>
<label>Artist Name: </label> <%=@song.artist_name%> <br>
<label>Genre: </label> <%=@song.genre%>

<%= form_tag song_path(@song), method: "delete" do %>
	<%= submit_tag "Delete '#{@song.title}'" %>
<%end%> </h2>
