

<h2> Song Title: <%= @song.title %> </h2><br>

<h3> Song Artist: <%= @song.artist_name %> </h3>
<h3> Song Released: <%= @song.released %> </h3>
<h3> Song Release Year: <%= @song.release_year %> </h3>
<h3> Song Genre: <%= @song.genre %> </h3>
