<h2><%= @song.title %></h2>
<%= link_to "edit", edit_song_path(@song) %>
<p>Artist: <%= @song.artist_name %> </p>
<hr />
<p>Genre: <%= @song.genre %> </p>
<hr />
<% if @song.released %>
    <p>Release Year: <%= @song.release_year %></p>
<% end %>