<h2><%= @song.title %> </h2> by <strong><%= @song.artist_name %></strong>

<br>
<% if @song.released? %>
  released in: <strong><%= @song.release_year %></strong>
<% end %> 

<p>
  <strong>Genre:</strong>
  <%= @song.genre%>
</p>

<%= link_to "Edit", edit_song_path(@song)%>
