<table>
  <thead>
    <th>Title</th>
    <th>Artist Name</th>
    <th>Genre</th>
    <th>Released</th>
    <th>Year</th>
  </thead>

  <tbody>
    <tr>
      <td><%= @song.title %></td>
      <td><%= @song.artist_name %></td>
      <td><%= @song.genre %></td>
      <td><%= @song.released %></td>
      <td><%= @song.release_year %></td>
    </tr>
  </tbody>
