<h2><%= @song.title %></h2>

<strong>Artist: </strong><%= @song.artist_name %><br>

<% unless @song.genre.blank? %>
  <strong>Genre: </strong><%= @song.genre %><br>
<% end %>

<% if @song.released %>
  <strong>Year Released: </strong><%= @song.release_year %><br>
<% end %>

<%#= link_to("Delete Song", song_path(@song), method: :delete) %>
<%= link_to 'Delete song', @song, method: :delete, 
  data: { confirm: 'Are you sure you want to delete this song?' } 
%>
