<h1> Song</h1>
 <h3>Title: <%= @song.title %></h3>
 <h3>Released: <%= @song.released %></h3>
 <h3>Release Year: <%= @song.release_year %></h3>
 <h3>Artist: <%= @song.artist_name %></h3>
 <h3>Genre: <%= @song.genre %></h3>
<%= link_to 'Edit' ,edit_song_path(@song) %>
