<h1>Song: <%= @song.title %></h1>

<ul>
  <li>Artist Name: <%= @song.artist_name %></li>
  <li>Genre: <%= @song.genre %></li>
  <li>Release Year: <%= @song.release_year %></li>
  <li>Released?: <%= @song.released %></li>
</ul>
