<h1><%= @song.title %></h1>
<h1><%= @song.released %></h1>
<% if @song.released %>
    <h1><%= @song.release_year %></h1>
 <% end %>
 
<%= form_tag song_path(@song.id), method: "delete" do %>
  <%= submit_tag "Delete #{@song.title}" %>
<% end %>
