<h1><%= @song.title %></h1>
<h1><%= @song.artist_name %></h1>
<h1><%= @song.released %></h1>
<h1><%= @song.release_year %></h1>
<h1><%= @song.genre %></h1>
<%= form_tag songs_path(@song.id), method: "delete" %>
  <%= submit_tag "Delete #{@song.title}" %>
<% end %>
