<ul>
    <li><%= @song.id %></li>
    <li><%= @song.title %></li>
    <li><%= @song.released %></li>
    <li><%= @song.release_year %></li>
    <li><%= @song.artist_name %></li>
    <li><%= @song.genre %></li>
    <li><%= @song.created_at %></li>
    <li><%= @song.updated_at %></li>

</ul>