<h1>Title<%= @song.title %></h1>
<h1>Released?<%= @song.released %></h1>
<h1>Release year, if released<%= @song.release_year %></h1>
<h1>Artist<%= @song.artist_name %></h1>
<h1>genre, if noted<%= @song.genre %></h1>
