
<ul>
  <li>Title: <%=@song.title%></li>
  <li>artist name: <%=@song.artist_name%></li>
  <li>genre: <%=@song.genre%></li>
  <li>released: <%=@song.released%></li>
  <li>Release year: <%=@song.release_year%></li>
</ul>
