<h1><%= @song.title %></h1>

by <%= @song.artist_name %><br>
Released: <%= @song.released %><br>
year: <%= @song.release_year %><br>

<%= link_to "Delete", @song, method: :delete, data: { confirm: "Really?" } %>