<h1> Specific song/show page <h1>

   <h2><%= @song.title %></h2>
   <p><%= @song.released %></p>
   <p><%= @song.release_year %></p>
   <p><%= @song.artist_name %></p>
   <p><%= @song.genre %></p>
  