<h2><%= @song.title %></h2><br>

by <%= @song.artist_name %>

<% if @song.released %>
	<p>
		Released in: <%= @song.release_year %>
	</p>
<% end %>

<p>
	Genre: <%= @song.genre %>
</p>

<%= link_to 'Edit song', edit_song_path(@song) %>
