<h1><%= @song.title %></h1>
<h3><%= @song.artist %></h3>
<% if @song.genre %>
  <h3><%= @song.genre %></h3>
<% end %>
<% if @song.released %>
  <h3>Released <%= @song.release_year %></h3>
<% else %>
  <h3>Not Officially released
    <% if @song.release_year %>
       - <%= @song.release_year %>
    <% end %>
  </h3>
<% end %>
