<h3>Song:</h3>
<label>Title:</label><br>
<%= @student.title %><br>
<label>Released:</label><br>
<%= @student.released %><br>
<label>Release Year:</label><br>
<%= @student.release_year %><br>
<label>Artist Name:</label><br>
<%= @student.artist_name %><br>
<label>Genre:</label><br>
<%= @student.genre %><br>

