<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= javascript_include_tag "songs" %>

<nav>
  <%= link_to_unless_current("all songs", { action: "index" }) %><br>
  <%= link_to_unless_current("Create a New Song", { action: "new" }) %>
</nav>

<%= yield %>


</body>
</html>
