<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- added below to add link to all songs veiw (index) on every page but index -->
<% unless current_page?(controller: "songs", action: "index") %>
  <hr />
  <%= link_to "View All Songs", songs_path %>
<% end %>
<!-- added below to allow Delete link to work -->
<%=  javascript_include_tag "application" %>

</body>
</html>
