<%= javascript_include_tag :defaults %>
<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_page?(controller: "songs", action: "index")%>
  <%= link_to "View All Songs", songs_path %>
  <hr/>
<% end %>

<%= yield %>

</body>
</html>
