<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Header -->
  <%= yield %>

  <% if !@song.errors.empty? %>
  <ul>
    <% @song.errors.full_messages.each do | error | %>
        <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>
<%= form_for @song, method: @http_method do |f| %>
  <%= f.label :title, "title" %>
  <%= f.text_field :title %>
  <br/>
<br/>
  <%= f.label :artist_name, "artist_name"%>
  <%= f.text_field :artist_name %>
<br/>
<br/>
  <%= f.label :released, 'Song Released', :value => 'true'%> &nbsp; &nbsp; &nbsp;
  <%= f.radio_button :released, "true", :checked =>true %><br/>
  <%= f.label :released, 'Song Not Released', :value => 'false' %> &nbsp; &nbsp; &nbsp;
  <%= f.radio_button :released, "false" %>
<br/>
  <br/>
  <%= f.label :release_year, "release_year"%>
  <%= f.text_field :release_year %>
  <br/>
  <br/>
  <%= f.label :genre, "genre"%>
  <%= f.text_field :genre %>
  <%= f.submit%>
<% end %>

</body>
</html>
